
#resume{
    position: absolute;
    top: 10em;
    background-color: transparent !important;
  }
  @media only screen and (max-width:480px){
    #resume{
      top: 2em !important;
      left: -1.5em;
    }
  }