.contact-section {
    text-align: center;
    padding: 20px;
  }
  
  .contact-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .contact-list li {
    transition: transform 0.3s;
  }
  
  .contact-list li:hover {
    transform: scale(1.2);
  }
  @media only screen and (max-width:480px){
    .contact-content p{
        font-size: .7rem ; 
    }
    .contact-content h1{
        font-size: 1rem;
    }
    #icon{
      width: 20px;
    }
  .contact-list{
    display: flex;
    flex-wrap: wrap; 
    font-size: .1rem !important;
  }
  }
  