
  
  
  #my-name {
    background-color: #dadde7;
    font-size: 2rem;
    font-weight: bold;
    color: #2d3748; 
    text-align: center;
    padding:.1em;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  
  #home-section .motion-div:nth-child(2) {
    margin-top: 20px;
  }
  
  #home-section .motion-div {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  #namdet{
    font-size: .4em;
  }
 
  #resume{
    position: absolute;
    top: 10em;
  }
  @media only screen and (max-width:480px){
    #my-name {
        font-size: .5671rem;
    } 
    #resume{
      top: 3.5em;
      left: -1.5em;
    }
    #my-name span{
      font-size: .6em;
    }
  }