
#skills-section {
    padding: 50px 20px;
    background-color: #f0f4f8; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.skill-category h1 {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #6c757d; 
    margin-bottom: 20px;
    margin-top: 3em;
}

#skillhead {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    text-align: center;
    color: #495057; 
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    width: 150px;
    height: 150px;
    background-color: #ffffff; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #495057; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-align: center;
}


.skill-card svg {
    font-size: 2rem;
    color: #00bfae; 
}

.skill-card:hover {
    background-color: #00bfae; 
    color: white;
    transform: scale(1.1);
}

.skill-card:hover svg {
    color: white;
}


.skill-card span {
    margin-top: 10px;
    font-size: 1rem;
}



@media (max-width: 768px) {
    .skill-category h1 {
        font-size: .8rem;
    }

    .skill-card {
        width: 120px;
        height: 120px;
        font-size: 1rem;
    }
    
#skillhead {
    font-size: 1rem;
}



.skill-card span{
    font-size: .6rem;
    padding: .2em;
}
.skill-card {
    width: 80px;
    height: 80px;
}
}
